<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-
    scale=1.0">

    <style>
        body {background-color:#ffcccc;}
    </style>


</head>
<body>
    
    <h1 style="font-family: cursive; color: blue;">  <u> <center> About ME:  Meet Alice Cooper </center> </u></h1>

    <center><img class="corner-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTf6qBEWL_1xjVsb6H1th1N3CqtX2rzvU7MrCxextADc11kwtDj" alt="Corner Image">
    </center>
    
    <p style="font-family: cursive;">
    Hello Everyone, My name is Alice Cooper and I am a 25 year old WEB Development Learnee.
    During the last 1 year, I have developed a great passion for web development so I began in investing
    my time in learning this new skill. </p>
    
    <h1 style="font-family: cursive;"> Biography </h1>
    
    <p style="font-family: cursive;">
    Basically, I am a Psychology Major graduated from University of Wonderland. I have worked as a Junior Psychologist in a clinic near my home.
    I currently live in Wonderla with my fiance and two pet dogs.
    It is from my fiance from whom I picked up the passion for web development and wanted to pursue that as a
    career option now. After working for 3+ years in the Psychology industry, I wanted to have a career change and since I am very early in my career,
    I did not feel that this shift would be too impactful. I did not wanted to go back to college and invest 4 years in acquiring a CS degree so I planned on
    remotely learning this skills from online tutorials and from my dear loving fiance.
    </p>
    
    <h1 style="font-family: cursive;"> Initial Struggles </h1>
    <p style="font-family: cursive;"> Quiting your well paying job and learning something from scratch was not a easy task for me.I had to spend hours and hours
    finding good videos on youtube to help me learn these concepts. But thanks to Udemy and Coursera, I was able
    to get high quality education from Professors from top-tier universities at a very affordable price.
    I have been constantly learning Web Devlopment for the past 12 months and even created some of my own part-time projects too
    </p>
    
    <h1style="font-family: cursive;"> Skills </h1>
    <p style="font-family: cursive;"> These are some of the skills I have acquired in these 12 months of my constant and deep learning </p>
    <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>JavaScript</li>
        <li>Version Control (e.g., Git)</li>
        <li>Backend Frameworks (e.g., Ruby on Rails, Django)</li>
        <li>Database Management (e.g., SQL)</li>
        <li>Web Performance Optimization</li>
        <li>Problem Solving and Debugging</li>
        <li>Continuous Learning and Adaptation to New Technologies</li>
    </ul>
    
    <h1 style="font-family: cursive;">Achievements</h2>
    <ul>
        <li>Winner of the Remote Web Development Competition (2024): Awarded third place among 60 members who participated in a prestigious web development competition for creating an innovative and user-friendly website.</li>
    </ul>
    
</body>
</html>