<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-
    scale=1.0">
    <title>Home Page</title>

    
    <style>
        body {background-color:#ffcccc;}

    </style>


</head>
<body>
    <h1 style="font-family: cursive; color: blue;">  <u> <center> CONTACT ME </center> </u></h1>

<p style="font-family: cursive;">
I wanted this portfolio for everyone to come and look at my works and take inspirations from there.</p>

<p style="font-family: cursive;">Please feel free to message me through this contact form, or DM me on my Instagram accounts.</p>
<p style="font-family: cursive;">Moreover, I will try to periodically update the page with my new projects and learning outcomes.</p>
<p style="font-family: cursive;">Additionally, I will post some blogs on the latest technologies and skills that would be helpful to learn.</p>

<h3> <u> Instagram </u> </h3>
<p style="font-family: cursive;">Join me on Instagram to peek into my current projects catch occasional snapshots of my adorable dogs!
<p style="font-family: cursive;">Username: @Alice_Cooper_WEB_DEVELOPMENT</p>

<h3> <u> Twitter </u> </h3>
<p style="font-family: cursive;">Follow me on Twitter for my latest tweets about job interviews etc!</p>
<p style="font-family: cursive;">Username: @ACooper_WEB_DEVELOPMENT</p>


<h3><u>Contact Form</u></h3>
<form>
    <input type="text" name="name" placeholder="Your Name" required><br>
    <input type="email" name="email" placeholder="Your Email" required><br>
    <textarea name="message" placeholder="Your Message" required></textarea><br>
    <input type="submit" value="Send Message">
</form>

</body>
</html>