<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-
    scale=1.0">
    <title>Home Page</title>

    <style>
        body {background-color:#ffcccc;}
    </style>


</head>
<body>
    <h1 style="font-family: cursive; color: blue;">  <u> <center> Crafting Exceptional Websites: Meet Alice Cooper, Your Web Development Learnee </center> </u></h1>
    <p style="font-family: cursive;"> Welcome Everyone to my one and only portfolio website!

        I am very thrilled for all of you to check out my newly built portfolio website.
        I have developed a passion for Web Development for the past 12 months and have been remotely working on my skills.
        I have taken many courses in Udemy and Coursera to get an expertise in these topics.
        My experetise in Front - End Development include </p>
        
        <ol style="font-family: cursive;"> HTML </ol>
        <ol style="font-family: cursive;"> CSS </ol>
        <ol style="font-family: cursive;"> JavaScript </ol>
        
        <p style="font-family: cursive;"> In back end development, I know </p>
        
        <ol style="font-family: cursive;"> Ruby on Rails </ol>
        <ol style="font-family: cursive;"> Django </ol>
        
        <p style="font-family: cursive;"> I am also currently working towards learning more web development platforms and here in this website,
        I will be posting my works and updates so you all can join me in the quest to learn about WEB DEVELOPMENT !!!</p>
        

</body>
</html>